
body {
 background-image: url('Background-Lion_upscaled_image_x4.jpg');
 background-repeat: no-repeat;

 background-attachment: scroll;
 background-position: bottom-right;
 background-size: cover;
 font-family: "Arial Bold",Arial Gold,Gadget,sans-serif;

 margin: 150px auto 80px auto;
 padding-top: 80px;
 background-color: black;
 background-position: bottom;

}
.option {
  margin-top: 2.5em;
  margin-right: 2em;
}

.navbar-brand {
  font-size: 39px;
  margin-top: -17em;
}
h1 {
  margin: -15em auto auto -15.5em;
  font-family: "Catamaran";
  font-weight: bold;
  font-size:20px;
  color: white; }

  .globe {

    margin: -15.5em 10.5em 10em 21.79em;
    width: 19em;
    height: 19em;
    border-radius: 50%;
  }

  .nav-link {
    margin-top: -9.5em;
    margin-bottom: 11.5em;
    font-family: "Catamaran";
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

  .nav-link:hover {
    color: grey;
  }


@media (max-width: 1151px) and (min-width: 947px) {

body{
    background-position: cover;
  }

h1 {
  margin-left: -15.2em;
  margin-top: -15.9em;
}
.navbar-brand {
    margin-top: -18.6em;
    font-size: 37px;
  }
.globe {
    margin-bottom: 12em;
    margin-left: 19.5em;
    width: 15.75em;
    height: 15.75em;
  }
  .option {
    margin-top: 1.7em;
    margin-right: 1em;
  }
  }

  @media (max-width: 946px) and (min-width: 801px) {
    .globe {
      margin-left: 10em;
    }
    .option {
      margin-right: -1em;
    }
  }

  @media (max-width: 800px ){
  body {
    background-position: center;
  }
    .option {
      justify-content: bottom;
      font-size: 20px;
    }
    .navbar-brand {
      justify-content: center;
      margin-top: -22.2em;
      margin-left: 2.3em;
      font-size: 33px;
    }
   .nav-link {
     font-size: 24px;
    h1 {
      margin-left: -80em;
    }
    .globe {
      justify-content: center;
      margin: -15.5em 2.5em 10em 2.79em;
      width: 15.5em;
      height: 15.5em;
      border-radius: 50%;
    }
  }
