
Body {
  background-image: url("Background-Lion_upscaled_image_x4.jpg");
 background-repeat: no-repeat;
background-image: static;
 background-attachment: absolute;
 background-position: bottom-right;
 background-size: cover;
 font-family: "Arial Bold",Arial Gold,Gadget,sans-serif;

}


h1 {
  color: white;
  margin-top: 4em;
  margin-left: 11.33em;
  }

p {
  color: white;
  margin-left: 23.26em;
  }

.open {
color: #FFFFFF;
position: absolute;
 }

.globe {
  image: static;
  margin-left: 20em;
  width: 20em;
  height: 20em;
  border-radius: 50%;
}


/* The side navigation menu */
.sidenav {
  height: 14rem; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4rem; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-top: 12rem;
   }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 481px) {
  .sidenav {padding-top: 16px;}
  .sidenav a {font-size: 18px;}
  


  Body {
    background-image: url("Background-Lion_upscaled_image_x4.jpg");
   background-repeat: no-repeat;
  background-image: static;
   background-attachment: absolute;
   background-position: bottom-right;
   background-size: cover;
   font-family: "Arial Bold",Arial Gold,Gadget,sans-serif;

  }


  h1 {
    color: white;
    margin-top: 4em;
    margin-left: 11.33em;
    }

  p {
    color: white;
    margin-left: 23.26em;
    }

  .open {
  color: #FFFFFF;
  position: absolute;
   }

  .globe {
    image: static;
    margin-left: 20em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
  }


  /* The side navigation menu */
  .sidenav {
    height: 14rem; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4rem; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 12rem;
     }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #818181;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  }

}
